<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

    RewriteCond %{HTTP_HOST} ^screentv\.indonetsoft\.com$ [NC,OR]
    RewriteCond %{HTTP_HOST} ^screentv1\.indonetsoft\.com$ [NC]
	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ /not-allowed.html [L,QSA]

    #RewriteCond %{HTTP_HOST} ^([a-z0-9-]+)\.indonetsoft\.com$ [NC]
    #RewriteRule ^favicon\.ico$ /upload/%1-favicon.ico [L,QSA]
    #RewriteCond %{HTTP_HOST} ^([a-z0-9-]+)\.indonetsoft\.com$ [NC]
    #RewriteRule ^logo\.png$ /upload/%1-logo.png [L,QSA]
#.own.rewrite.htaccess

	RewriteRule ^(login/?)$ index.php?/users/user/login [L,QSA]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>

Options -Indexes
ErrorDocument 403 /index.php?403
ErrorDocument 404 /index.php?404

# BEGIN Security files
<FilesMatch "(\.env|\.git|\.htaccess|license\.sn|environment|\.conf)$">
    Order allow,deny
    Deny from all
</FilesMatch>
# END Security files

# BEGIN Cache-Control dan Expires Header
<IfModule mod_headers.c>
	# 1. Image & static visual files
	<FilesMatch "\.(ico|gif|jpe?g|png|webp|avif|bmp|tiff?|jfif|svg|svgz)$">
		Header set Cache-Control "public, max-age=2592000, must-revalidate, proxy-revalidate, immutable"
		Header set Pragma "public"
		Header set Access-Control-Allow-Origin "*"
	</FilesMatch>
	# 2. Font files (CORS + cache)
	<FilesMatch "\.(eot|ttf|ttc|otf|woff|woff2|svg|svgz)$">
		Header set Cache-Control "public, max-age=2592000, must-revalidate, proxy-revalidate, immutable"
		Header set Pragma "public"
		Header set Access-Control-Allow-Origin "*"
	</FilesMatch>
	# 3. JS & CSS files
	<FilesMatch "\.(css|js)$">
		Header set Cache-Control "public, max-age=2592000, must-revalidate, proxy-revalidate, immutable"
		Header set Pragma "public"
		Header set Access-Control-Allow-Origin "*"
	</FilesMatch>
</IfModule>
# END Cache-Control dan Expires Header

# BEGIN Expire headers
<ifModule mod_expires.c>
	ExpiresActive On
	# 1. Images
	ExpiresByType image/jpeg "access plus 30 days"
	ExpiresByType image/jpg  "access plus 30 days"
	ExpiresByType image/png  "access plus 30 days"
	ExpiresByType image/gif  "access plus 30 days"
	ExpiresByType image/webp "access plus 30 days"
	ExpiresByType image/avif "access plus 30 days"
	ExpiresByType image/svg+xml "access plus 30 days"
	ExpiresByType image/x-icon "access plus 1 year"
	# 2. Fonts
	# application/vnd.ms-fontobject (*.eot)
	ExpiresByType application/vnd.ms-fontobject "access plus 30 days"
	ExpiresByType font/ttf   "access plus 30 days"
	# font/collection (*.ttc)
	ExpiresByType font/collection "access plus 30 days"
	ExpiresByType font/otf   "access plus 30 days"
	ExpiresByType font/woff  "access plus 30 days"
	ExpiresByType font/woff2 "access plus 30 days"
	ExpiresByType application/font-woff2 "access plus 30 days"
	# 3. CSS & JS
	ExpiresByType text/css               "access plus 30 days"
	ExpiresByType text/javascript        "access plus 30 days"
	ExpiresByType application/javascript "access plus 30 days"
	ExpiresByType application/pdf        "access plus 30 days"
	ExpiresByType text/x-javascript      "access plus 30 days"
	ExpiresByType application/x-shockwave-flash "access plus 30 days"
</ifModule>
# END Expire headers

AddType font/ttf .ttf
AddType font/otf .otf
AddType font/collection .ttc
AddType font/woff .woff
AddType font/woff2 .woff2
AddType application/vnd.ms-fontobject .eot
AddType image/svg+xml .svg .svgz
AddEncoding gzip .svgz

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css
    AddOutputFilterByType DEFLATE application/xml application/xhtml+xml application/rss+xml
    AddOutputFilterByType DEFLATE application/javascript application/x-javascript
    AddOutputFilterByType DEFLATE application/json
    AddOutputFilterByType DEFLATE font/ttf font/otf font/woff font/woff2
    AddOutputFilterByType DEFLATE image/svg+xml
    # Bug workaround for old browsers
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>
<IfModule mod_headers.c>
    <FilesMatch "\.(js|css|xml|json|svg|ttf|otf|woff|woff2|eot|html)$">
        Header append Vary: Accept-Encoding
    </FilesMatch>
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(jpg|jpeg|png|gif|mp4)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>
#.own.module.htaccess
