
.tm-toolbar { background: #000; }
.tm-toolbar { color: #fff; }
.tm-toolbar a { color: #ddd; }
.tm-toolbar.uk-grid+.uk-grid,
.tm-toolbar.uk-grid>.uk-grid-margin,
*.tm-toolbar+.uk-grid-margin { margin-top: 8px; }

.tm-navbar-container .uk-navbar-nav > li .uk-nav > li > a::before {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    right: calc(102% - 15px);
    bottom: 20px;
    height: 1px;
    background-color: currentColor;
    transition: .3s ease-in-out;
    transition-property: right;
}
.tm-navbar-container .uk-navbar-nav > li .uk-nav > li > a:hover::before {
    right: 15px;
}

/* BEGIN Navbar Injection */
/* Navbar ini jangan diutak-atik, karena berpengaruh pada layout dropdown cursor */
.tm-navbar-right .tm-navbar-item-,
.uk-navbar-right .uk-navbar-item- {
    font-weight: bold;
    height: 70px;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 80px;
    padding: 0 15px;
    font-size: 14px;
    font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-decoration: none;
    column-gap: .25em;
}
.tm-navbar-right > a.uk-navbar-toggle,
.uk-navbar-right > a.uk-navbar-toggle,
.tm-navbar-right > div > a.uk-navbar-toggle,
.uk-navbar-right > div > a.uk-navbar-toggle
{ position: absolute; top: 0; right: 0; }
/* END Navbar Injection */

.tm-navbar-container .uk-navbar-nav li a span[uk-icon] { margin-right: 6px; }
.tm-navbar-container .uk-navbar-dropdown { background: linear-gradient(to left, #28a5f5, #1e87f0); }
.tm-footer { background: #000; padding: 16px; color: #fff; }
.tm-footer a { color: #ddd; }
